.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.combo-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tictactoe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.calc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}